$font-primary: 'IBM Plex Mono';
$font-secondary: 'IBM Plex Sans';
$h1-font-size-desktop: 64px;
$h2-font-size-desktop: 48px;
$h-font-size-mobile: 36px;
$p-font-size-desktop: 16px;
$p-font-size-mobile: 14px;
$p-line-height-desktop: 24px;
$p-line-height-mobile: 22px;
$color-primary: #060A24;
$color-secondary: #FFFFFF;